H1 {font-family:Miama Nueva;font-size:48px;font-weight:bold;text-align:center;color:#5f4eb4;}
H2 {font-family:Bad Script;font-size:48px;font-weight:bold;text-align:left;color:#5f4eb4;margin-left:100px;margin-right:100px;}
P {font-family:GOST type A;font-size:28px;text-align:bottom;margin-left:100px;margin-right:100px;}
B {font-weight:bold;font-style:italic;}
A {text-decoration: none;}