H1 {font-family:Miama Nueva;font-weight:bold;text-align:center;}
H2 {font-family:Bad Script;font-size:48px;font-weight:bold;text-align:left;margin-left:100px;margin-right:100px;}
P {font-family:GOST type A;font-size:28px;text-align:bottom;margin-right:850px;}
B {font-weight:bold;font-style:italic;}
