H1 {font-family:Miama Nueva;font-weight:bold;text-align:center;color:#5f4eb4;}
H2 {font-family:Bad Script;font-weight:bold;text-align:left;color:#5f4eb4;text-align:center;}
P {font-family:GOST type A;font-size:28px;text-align:bottom;margin-left:50px;margin-right:50px;}
B {font-weight:bold;font-style:italic;}