H1 {font-family:Miama Nueva;font-weight:bold;text-align:center;}
H2 {font-family:Bad Script;font-weight:bold;text-align:left;margin-left:400px;margin-right:100px;}
P {font-family:GOST type A;font-size:28px;text-align:bottom;margin-left:400px;margin-right:100px;}
B {font-weight:bold;font-style:italic;}
A {text-decoration: none;}